<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/b2ca557543.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Bungee&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
      <nav>
                <img src="/assets/logo.png" alt="" class="logo">


           
              <div class="search">
                <input type="search" placeholder="Search" class="ser">

            </div>
            <div class="home">
                <ul>
                   <li>Home</li>
                   <li>About</li>
                   <li>Story</li>
                   <li>Academic</li>
                   <li>Contact</li>
                </ul>

            </div>
            <div class="reg">
                <button class="login">Login</button>
                
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-arrow-down"></i>

            </div>
            <div class="pro">
                <i class="fa-solid fa-clipboard-list"></i>

            </div>
        
    </nav>
     <section class="hero">
        <div class="purna">
            <h2 class="h2">Welcome to Book Vibe</h2>
            <h3 class="h3">Every page you turn opens a new universe.</h3>
            <h3 class="h3">Discover stories that inspire, ideas that transform,<br> and knowledge that empowers your journey.</h3>
            <h3 class="h3">Let your imagination rise beyond limits and<br> begin your next chapter today.</h3>
        <button class="button">Get Started</button>
        </div>
        
        
    </section>
    
    <script>

let array=[
                "/assets/heroimage/ammay.jpeg",
                "/assets/heroimage/work.png.jpeg",
                "/assets/heroimage/boy.png.jpeg",
                "/assets/heroimage/slide.png"
            ]
            let c=0
          let a=  document.getElementsByClassName("hero")
            function show(){
              
                a[0].style.backgroundImage=`url(${array[c]})`
                c++
                if(c>=array.length){
                    c=0
                }
            }
               show()
           setInterval(show,2000)
             
                
            
      
        </script>
<section class="boxsec">
<h1>Category</h1>

<div class="tabs">
    <button class="tab-btn active" data-tab="all">ALL</button>
    <button class="tab-btn" data-tab="fiction">Fiction</button>
    <button class="tab-btn" data-tab="nonfiction">Non-Fiction</button>
    <button class="tab-btn" data-tab="academic">Academic</button>
</div>
<div id="all" class="tab-content active">
    <div class="sec32" id="all-container"></div>
</div>

<div id="fiction" class="tab-content">
    <div class="sec32" id="fiction-container"></div>
</div>

<div id="nonfiction" class="tab-content">
    <div class="sec32" id="nonfiction-container"></div>
</div>

<div id="academic" class="tab-content">
    <div class="sec32" id="academic-container"></div>
</div>
</section>
<script>

document.querySelectorAll(".tab-btn").forEach(btn=>{
    btn.addEventListener("click",()=>{
        document.querySelectorAll(".tab-btn").forEach(b=>b.classList.remove("active"));
        document.querySelectorAll(".tab-content").forEach(c=>c.classList.remove("active"));

        btn.classList.add("active");
        document.getElementById(btn.dataset.tab).classList.add("active");
    });
});

function createCard(data){
    return `
    <div class="sec33">
        <div class="sec34">
            <img src="${data.image}" class="img34">
            <div class="sec35">
                <button>${data.type}</button>
                <span class="sec36">${data.price}</span>
            </div>
            <div class="sec37">${data.title}</div>
            <p class="sec38">${data.desc}</p>
        </div>
        <div><button class="sec40-btn">Add To the Cart</button></div>
    </div>`;
}

const books = [
{
    image:"https://m.media-amazon.com/images/I/91Pq2iyF1bL._AC_UF350,350_QL50_.jpg",
    type:"Fiction",
    price:"₹499",
    title:"Story Book",
    desc:"Interesting fictional story."
},
{
    image:"https://5.imimg.com/data5/SELLER/Default/2020/11/VX/JS/SY/49559104/story-books-500x500.jpg",
    type:"Non-Fiction",
    price:"₹399",
    title:"Learning Book",
    desc:"Educational and informative."
},
{
    image:"https://sureshiasacademy.store/wp-content/uploads/2025/04/TAMIL-SOCIETY-PART-1.jpg",
    type:"Academic",
    price:"₹699",
    title:"Academic Textbook",
    desc:"Useful for exams and preparation."
},{
    image:"https://m.media-amazon.com/images/I/91Pq2iyF1bL._AC_UF350,350_QL50_.jpg",
    type:"Fiction",
    price:"₹499",
    title:"Story Book",
    desc:"Interesting fictional story."
},
{
    image:"https://5.imimg.com/data5/SELLER/Default/2020/11/VX/JS/SY/49559104/story-books-500x500.jpg",
    type:"Non-Fiction",
    price:"₹399",
    title:"Learning Book",
    desc:"Educational and informative."
},
{
    image:"https://sureshiasacademy.store/wp-content/uploads/2025/04/TAMIL-SOCIETY-PART-1.jpg",
    type:"Academic",
    price:"₹699",
    title:"Academic Textbook",
    desc:"Useful for exams and preparation."
}
];


function Cards(containerId, items){
    const container = document.getElementById(containerId);
    container.innerHTML = items.map(item => createCard(item)).join("");
}


Cards("all-container", books);
Cards("fiction-container", books.filter(b=>b.type==="Fiction"));
Cards("nonfiction-container", books.filter(b=>b.type==="Non-Fiction"));
Cards("academic-container", books.filter(b=>b.type==="Academic"));
</script>
<section class="recomme">
        <div class="cardout">
            <div class="cardin1">
                <h1 class="cardouth1">TOP RATED BOOKS IN OUR STORE</h1>
                <button>Explore</button>
            </div>
            <div class="cardimgs cardin2">
                <div class="cardin21">
                    <img src="/assets/recommendedimgs/storybook-1.webp" alt="Recommended Book 1">
                    <button>View Details</button>
                </div>
                <div class="cardin21">
                    <img src="/assets/recommendedimgs/storybook-2.webp" alt="Recommended Book 2">
                    <button>View Details</button>   
                </div>
                <div class="cardin21">
                    <img src="/assets/recommendedimgs/storybook-3.webp" alt="Recommended Book 3">
                    <button>View Details</button>
                </div>
                <div class="cardin21">
                    <img src="/assets/recommendedimgs/storybook-4.webp" alt="Recommended Book 4">
                    <button>View Details</button>
                </div>
            </div>
        </div>
</section>
    
    <footer>


    <div class="contact">
        <h2>Contact Us</h2>

        <div class="contact-con">

            <div class="logo">
                <img src="/assets/logo.png" alt="BookVibe Logo">
            </div>

            <div class="text">
                <i class="fa-solid fa-envelope"></i>
                <p>bookvibe17@gmail.com</p>
            </div>

            <div class="text">
                <i class="fa-brands fa-x-twitter"></i>
                <p>@book_vibe17</p>
            </div>

            <div class="text">
                <i class="fa-brands fa-instagram"></i>
                <p>@Book_vibe17</p>
            </div>

            <div class="text">
                <i class="fa-brands fa-facebook"></i>
                <p>/BookVibe</p>
            </div>

        </div>
    </div>

    <div class="webteam">
        <h3>Designed & Developed By</h3>

        <div class="developers">

            <div class="card">
                <h4>Vinod Kumar</h4>
                <p>Full Stack Developer</p>
            </div>

            <div class="card">
                <h4>Yagneswararao puvvala</h4>
                <p>Web Developer</p>
            </div>

            <div class="card">
                <h4>Purnachandrarao ponduru</h4>
                <p>Web Developer</p>
            </div>

            <div class="card">
                <h4>Lokesh Konna</h4>
                <p>Web Developer</p>
            </div>

            <div class="card">
                <h4>Laxminarayana majji</h4>
                <p>Web Developer</p>
            </div>

            <div class="card">
                <h4>Ajaykumar Kurmapu</h4>
                <p>Web Developer</p>
            </div>

        </div>
    </div>


    <div class="bottom">
        <i class="fa-regular fa-copyright"></i>
        2026 BookVibe. All rights reserved.
    </div>

</footer>

</body>
</html>