
    <style>
        *{
            margin: 0;
            border: 0;
        }
        .cardout{
            width: 100%;
           
            background-color:#0D3B66;
            display: grid;
            padding-top:50px;
            padding-bottom:50px ;
            grid-template-columns: repeat(2, 1fr);
        }
        .cardouth1{
            font-size: 80px;
            font-family: "Bungee", sans-serif;
            color: white;
            text-align: center;
            

        }
        
        .cardimgs{
            background-color:rgb(184, 224, 226);
            margin-right: 30px;
            border-radius: 10px ;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
        .cardimgs img{
            width: 250px;
            height: 300px;
            border-radius: 10px;
        }
        .cardin1{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .cardin2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .cardin1 button{
            width: 150px;
            height: 50px;
            background-color: white;
            color: #F26A21;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 30px;
        }
        .cardin21{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .cardin21 button{
            width: 150px;
            height: 40px;
            background-color: #F26A21;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
            color: wheat;
        }
        .cardin21 img:hover{
            transform: scale(1.02); 
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        }
        
        .cardin1 button:hover, .cardin21 button:hover{
            background-color:#0D3B66;
            transition: all 0.3s ease;
            color: white;
        }
        .cardin1 button:hover{
            background-color:#F26A21;

        }
    </style>
</head>
<body>
    <section>
        <div class="cardout">
            <div class="cardin1">
                <h1 class="cardouth1">TOP RATED BOOKS IN OUR STORE</h1>
                <button>Explore</button>
            </div>
            <div class="cardimgs cardin2">
                <div class="cardin21">
                    <img src="../assets/recommendedimgs/storybook-1.webp" alt="Recommended Book 1">
                    <button>View Details</button>
                </div>
                <div class="cardin21">
                    <img src="../assets/recommendedimgs/storybook-2.webp" alt="Recommended Book 2">
                    <button>View Details</button>   
                </div>
                <div class="cardin21">
                    <img src="../assets/recommendedimgs/storybook-3.webp" alt="Recommended Book 3">
                    <button>View Details</button>
                </div>
                <div class="cardin21">
                    <img src="../assets/recommendedimgs/storybook-4.webp" alt="Recommended Book 4">
                    <button>View Details</button>
                </div>
            </div>
        </div>
    </section>
