*{
            margin: 0;
            padding: 0;
            
        }
        body{
            background-color: #0D3B66;
            height: 200vh;
            overflow-x: hidden;
            scroll-behavior:smooth;
        }
        nav{
            height: 80px;
            width: 100%;
            background-color:white;
            display: flex;
            flex-direction: row;
            font-family: sans-serif;
            position: fixed;
            z-index: 1000;
            color:#0D3B66 ;
        }
        .logo{
            height: 70px;
            width: 70px;
            border-radius: 35px;
           
            margin: 5px;
        }
        .search{
            width: 200px;
            height: 80px;
            margin: 30px;
            
        }
        .ser{
            height: 30px;
            width: 200px;
            border-radius:5px;
            padding: 10px;
            font-size: 15px;
            border: 0.5px solid gray;

        }
        ul{
            display: flex;
            flex-direction: row;
            gap: 80px;
            margin: 30px;
            list-style: none;
            font-size: x-large;
        }
        li:hover{
            cursor: pointer;
            color: #F26A21;
        }
        
        .login{
            height: 40px;
            width: 180px;
            margin: 20px;
            background-color: #F26A21;
            border: none;
            border-radius: 10px;
            color: #0D3B66;
            font-size: 20px;
        }
        .login:hover{
            cursor: pointer;
            background-color: #0D3B66;
            color: #F26A21;
        }
        .cart,.pro{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            font-size: 25px;
            color: #F26A21;
           
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pro:hover{
            cursor: pointer;
            color: #0D3B66;
            
        }
        .cart:hover{
            cursor: pointer;
            color: #0D3B66;
            
        }
        .hero{
            width: 100%;
            height: 100vh;
             /* background: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */

        
            /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20241013/pngtree-magical-open-book-with-an-astounding-story-telling-background-fantasy-concept-image_16377085.jpg'); */
            border: 1px solid black;
            background-repeat:no-repeat;
            background-size: cover;
            transition:all 1s ease;
            
        }
        .purna{
            width: 40%;
            height:600px;
            margin-top: 100px;
            margin-left: 100px;
            border: 1px solid black;
            justify-items: center;
            border-radius: 100px;

        }
        .button{
            width:auto;
            padding: 30px 50px;
            background-color: black;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 26px;
                border-radius: 30px;
                margin-left: 200px;
                margin-top:50px;
                font-weight: bold;

        }
        .h2{
            margin-top: 100px;
            color:rgb(223, 14, 14);
            font-size: 55px;
            font-style: italic;
        }
        .h3{
            color:white;
            font-size: 25px;
            margin-top: 30px;
        }
        .tabs{
  width: 70%;
    display:flex;
    background:#f1f1f1;
    border-radius:40px;
    padding:6px;
    margin-bottom:40px;
}

.tab-btn{
    flex:1;
    border:none;
    padding:15px;
    cursor:pointer;
    background:transparent;
    border-radius:40px;
    font-size:16px;
    color:#888;
}

.tab-btn.active{
    background:#111;
    color:#fff;
}


.tab-content{ display:none; }
.tab-content.active{ display:block; }

.sec32{
    display:flex;
    flex-wrap:wrap;
    gap:24px;
}

.sec33{
    flex:0 0 calc(33.333% - 16px);
    background:rgb(232,230,236);
    border-radius:20px;
    padding-bottom:16px;
    display:flex;
    flex-direction:column;
}

.sec34{
    width:95%;
    margin:18px auto 0;
    border-radius:12px;
    overflow:hidden;
    background:#fff;
    box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.img34{
    width:100%;
    height:280px;
    object-fit:cover;
}

.sec35{
    display:flex;
    justify-content:space-between;
    padding:10px 12px;
}

.sec35 button{
    border:none;
    background:#eee;
    padding:6px 14px;
    border-radius:20px;
}

.sec36{ font-weight:bold; }

.sec37{ margin:10px 12px 0; }

.sec38{ margin:10px 12px; font-size:14px; }

.sec40-btn{
    width:200px;
    height:40px;
    background:#071107;
    margin:12px auto;
    border-radius:20px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}
@media(max-width:1200px){
    .sec33{ flex:0 0 calc(50% - 12px); }
}
@media(max-width:900px){
    .sec33{ flex:0 0 100%; }
    .tabs{ flex-wrap:wrap; }
}
 .cardout{
            width: 100%;
            height: 100vh;
            background-color: #F26A21;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .cardouth1{
            font-size: 80px;
            font-family: "Bungee", sans-serif;
            color: white;
            text-align: center;
            

        }
        
        .cardimgs{
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
        .cardimgs img{
            width: 250px;
            height: 300px;
            border-radius: 10px;
        }
        .cardin1{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .cardin2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .cardin1 button{
            width: 150px;
            height: 50px;
            background-color: white;
            color: #F26A21;
            font-size: 18px;
            font-weight: bold;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 30px;
        }
        .cardin21{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .cardin21 button{
            width: 150px;
            height: 40px;
            background-color: white;
            color: #F26A21;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        .cardin1 button:hover, .cardin21 button:hover{
            background-color: #F26A21;
            color: white;
            border: 2px solid white;
        }
        
footer{
    background: #0D3B66;
    color: white;
    padding: 50px 8%;
}


.contact{
    text-align: center;
    margin-bottom: 40px;
}

.contact h2{
    color: #ff4500;
    margin-bottom: 30px;
    font-size: 48px;
}

.contact-con{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
}


.logo img{
    width: 110px;
}


.text{
    text-align: center;

    min-width: 180px;
}

.text i{
    font-size: 28px;
    color: #ff4500;
    margin-bottom: 10px;
}

.text p{
    font-size: 16px;
}


.webteam{
    margin-top: 40px;
    text-align: center;
}

.webteam h3{
    color: #ff4500;
    margin-bottom: 25px;
    font-size: 32px;
}

.developers{
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.card{

    min-width: 150px;
    text-align: center;
}

.card h4{
    color: #ff4500;
    margin-bottom: 5px;
    font-size: 18px;
}

.card p{
    margin-top: 20px;
    font-size: 15px;
}


.bottom{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;
    color: #ddd;
}

.bottom i{
    color: #ff4500;
    margin-right: 5px;
}
